<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>timelapse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A71BE0E31D78BD1800D0D603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A71BE0F71D78BD1800D0D603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A71BE1021D78BD1900D0D603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
